<!DOCTYPE html>
   <% include ./header %>
<html>

    <title>Coffee Boss</title>

    <link href="stylesheets/main.css" rel="stylesheet">

    <link href="stylesheets/sidebar.css" rel="stylesheet">

  <body>

    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>

  </body>
</html>
