<!DOCTYPE html>
<html>
  <head>
	<style type="text/css">
		.head{
			height:40px;line-height:5px;border-style:solid;border-width:1px;background-color:#007799;
		}
		.head1{
			position:relative;left:60px;width:500px;
		}
		.head2{
			height:10px;
		}
		.total{
			
		}
		.left{
			height:900px;width:280px;float:left;
		}
		.left1{
			position:relative;left:100px;top:10px;float:left;
		}
		.left2{
			position:relative;left:105px;top:10px;font-size:12px;width:160px;
		}
		.left3{
			position:relative;left:105px;top:13px;font-size:12px;width:160px;
		}
		.left4{
			position:relative;left:105px;top:16px;font-size:12px;width:160px;
		}
		.left5{
			position:relative;left:100px;border-width:1px;border-style:solid;width:160px;padding:7px 7px;font-size:14px;background-color:#CCEEFF;
		}
		.left6{
			position:relative;left:100px;border-width:1px;border-style:solid;width:160px;padding:7px 7px;font-size:14px;top:5px;
		}
		.left7{
			position:relative;left:100px;border-width:1px;border-style:solid;width:160px;padding:7px 7px;font-size:14px;top:10px;
		}
		.left8{
			position:relative;left:100px;border-width:1px;border-style:solid;width:160px;padding:7px 7px;font-size:14px;top:15px;
		}
		.left9{
			position:relative;left:100px;border-width:1px;border-style:solid;width:160px;padding:7px 7px;font-size:14px;top:20px;
		}
		.left10{
			position:relative;left:100px;border-width:1px;border-style:solid;width:160px;padding:7px 7px;font-size:14px;top:25px;
		}
		.contain{
			height:900px;
		}
		.contain1{
			height:30px;padding:5px 5px;font-size:18px;border-width:1px;border-style:solid;position:relative;left:300px;width:810px;background-color:#CCEEFF;
		}
		.contain11{
			position:relative;left:-270px;top:3px;	
		}
		.contain2{
			height:200px;border-width:1px;border-style:solid;width:400px;position:relative;left:20px;float:left;
		}
		.contain21{
			position:relative;top:5px;left:font-size:14px;padding-left:10px;padding-bottom:5px;border-bottom-style:solid;border-width:1px;
		}
		.contain22{
			position:relative;top:20px;left:10px;
		}
		.contain23{
			position:relative;top:30px;left:10px;float:left;
		}
		.contain24{
			position:relative;top:30px;left:40px;
		}
		.contain3{
			height:250px;border-width:1px;border-style:solid;width:400px;position:relative;left:40px;float:left;
		}
		.contain31{
			position:relative;top:5px;left:font-size:14px;padding-left:10px;padding-bottom:5px;border-bottom-style:solid;border-width:1px;
		}
		.contain32{
			position:relative;top:30px;left:10px;border-bottom-style:solid;border-width:1px;font-size:18px;width:150px;padding-bottom:5px;
		}
		.contain33{
			position:relative;top:50px;left:10px;font-size:14px;
		}
		.contain34{
			position:relative;top:50px;left:10px;font-size:14px;
		}
		.contain35{
			position:relative;top:50px;left:10px;font-size:14px;
		}
		.contain36{
			position:relative;top:-57px;left:210px;border-bottom-style:solid;border-width:1px;font-size:18px;width:150px;padding-bottom:5px;
		}
		.contain37{
			position:relative;top:-37px;left:210px;font-size:14px;width:100px;	
		}
		.contain38{
			position:relative;top:-37px;left:210px;font-size:14px;width:100px;	
		}
		.contain39{
			position:relative;top:-37px;left:210px;font-size:14px;width:100px;
		}
		.contain399{
			position:relative;top:-37px;left:210px;font-size:14px;width:100px;
		}
		.contain3999{
			position:relative;top:-37px;left:210px;font-size:14px;width:100px;
		}
		.contain4{
			height:500px;border-width:1px;border-style:solid;width:820px;position:relative;left:20px;top:50px;float:left;
		}
		.contain41{
			position:relative;top:5px;left:font-size:14px;padding-left:20px;padding-bottom:5px;border-bottom-style:solid;border-width:1px;
		}
		.contain42{
			position:relative;top:5px;left:font-size:14px;padding-left:20px;
		}
		</style>
  </head>
  <body style="margin:0">
	<div class ="head">
		<h2 class="head1">Bobcats_Prototype</h2>
	</div>
	<div class ="head2">
	</div>
	<div class="total">
		<div class="left">
			<div class="left1">
				<img src="f_9529741_1.JPG" width="40px" height="50px">
			</div>
			<div class="left2">
				知惠科技
			</div>
			<div class="left3">
				test541
			</div>
			<div class="left4">
				<a href="#">個人資料</a>&nbsp;|&nbsp;<a href="#">編輯設定</a>
			</div>
			<div style="clear:both;"></div>
			</BR>
			</BR>
			<div class="left5">
				<img src="star.PNG" width="10px" height="10px">&nbsp;&nbsp;重大消息
			</div>
			<div class="left6">
				<img src="fire.PNG" width="10px" height="10px">&nbsp;&nbsp;熱門訊息
			</div>	
			<div class="left7">
				<img src="book.PNG" width="10px" height="10px">&nbsp;&nbsp;歷史訊息
			</div>
			<div class="left8">
				<img src="gear.PNG" width="10px" height="10px">&nbsp;&nbsp;系統管理
			</div>
			<div class="left9">
				<img src="lock.PNG" width="10px" height="10px">&nbsp;&nbsp;登出
			</div>
			</BR>
			</BR>
			</BR>
			<div class="left10">
				<img src="leaf.PNG" width="10px" height="10px">&nbsp;&nbsp;自訂分類樹
			</div>
		</div>
		<div class="contain">
			<div class="contain1">
				<div class=contain11>
					<img src="star.PNG" width="15px" height="15px">&nbsp;&nbsp;重大消息
				</div>
			</div>
			</BR>
			<div class="contain2">
				<div class="contain21">
					<img src="magnifier.PNG" width="10px" height="10px">&nbsp;&nbsp;搜尋字詞
				</div>
				<div class="contain22">
					<input type="text" name="fact" maxlength="30" size="30" style="font-size:16px" placeholder="請輸入檢索條件"/><input type="submit" value="開始檢索" style="font-size:16px;height:25px" />
				</div>
				<div class="contain23">
					<input type="text" name="start_time" maxlength="14" size="14" style="font-size:16px" placeholder="選擇開始時間"/>
				</div>
				<div class="contain24">
					<input type="text" name="end_time" maxlength="14" size="14" style="font-size:16px" placeholder="選擇結束時間"/>
				</div>
			</div>
			<div class="contain3">
				<div class="contain31">
					<img src="filter.PNG" width="10px" height="10px">&nbsp;&nbsp;篩選器
				</div>
				<div class="contain32">
					重大等級
				</div>
				<div class="contain33">
					<input type="checkbox" name="" value="">重大等級1
				</div>
				<div class="contain34">
					<input type="checkbox" name="" value="">重大等級2
				</div>
				<div class="contain35">
					<input type="checkbox" name="" value="">重大等級3
				</div>
				<div class="contain36">
					時間區隔
				</div>
				<div class="contain37">
					<input type="checkbox" name="" value="">全部時間
				</div>
				<div class="contain38">
					<input type="checkbox" name="" value="">一個月內
				</div>
				<div class="contain39">
					<input type="checkbox" name="" value="">一周以內
				</div>
				<div class="contain399">
					<input type="checkbox" name="" value="">三天以內
				</div>
				<div class="contain3999">
					<input type="checkbox" name="" value="">今日
				</div>
			</div>
			<div class="contain4">
				<div class="contain41">
					<img src="star.PNG" width="10px" height="10px">&nbsp;&nbsp;重大訊息列表
				</div>
				<div class="contain42">
					<table order="1" Frame="below">
	　					<tr>
	　						<td width="70">編號</td>
							<td width="100">重大程度</td>
							<td width="250">標題</td>
							<td width="180">發布時間</td>
							<td width="150">來源</td>
	　					</tr>
						<tr>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<%-body%>
  </body>
</html>